.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input {
    display: none;
}

.input:checked+.label>.icon {
    color: #AC090F;
}

.icon {
    width: 2.87rem;
    height: 2.87rem;
    color: #f1f1f1;
}